*{
   box-sizing: border-box;
}
body{
   margin: 0;
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   user-select: none;
   background: black;
   font-family: 'Roboto', sans-serif;
}
.map-wrapper{
   position: relative;
}
.map-img{
   width: 100%;
}
.map-wrapper svg{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
path{
   fill: red;
   cursor: pointer;
   pointer-events: all;
}
.menu__link{
   position: fixed;
   top: 0;
   right: 0;
   padding: 7px 10px;
   background-color: white;
   cursor: pointer;
   transition: background-color 0.2s;
   z-index: 3;
   border: 1px solid black;
}
.menu__link:hover{
   background-color: rgb(247, 215, 159);
}
.menu__content{
   position: fixed;
   top: 0;
   right: -100%;
   padding: 10px;
   height: 100%;
   width: 300px;
   background-color: rgb(255, 255, 255);
   z-index: 2;
   transition: right 0.3s;
}
.menu__content.active{
   right: 0;
}
.filter-wrapper__title{
   margin-top: 45px;
   font-size: 22px;
   margin-bottom: 5px;
}
.filter__item{
   margin-top: 15px;
   font-size: 19px;
}
.filter__item input{
   transform: scale(1.3);
}